html,body {
	margin: 0;
	height: 100%; 
	background: #000000;
	overflow: hidden;
	color: #333333;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

.grille100 {
	width: 100%;
	height: 80%;
}

.grille25 {
	height:100%;
	float: left;
	display: inline;
	position:relative;
}

.grille50 {
	height:100%;
	float: left;
	display: inline;
}

@media(max-width:399px){
	#content1{width: 260px;}
	.blockhide{
		margin-left:10%;
		margin-right:10%;
	}
	h1 {
		font-size: 12px;
	}
	h5 {
		font-size: 8px;
	}
	h2 {
		font-size: 8px;
		width: 4px;
		word-wrap: break-word;
		line-height:auto;
	}
	h3 {
		font-size: 8px;
	}
	h4 {
		font-size: 8px;
		width: 8px;
		word-wrap: break-word;
		line-height:auto;	
	}
	h6 {
		font-size: 10px;
		line-height: 10px;	
	}
	.grille50 {
		width: 100%;
		height:50%;
	}
	.grille25 {
		width: 100%;
		height:50%;
	}
	.project {
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right: 0;
		height:auto;
		margin:2%;	
	}
}

@media(min-width:400px){
	#content1{width: 400px;}
	.blockhide{
		margin-left:10%;
		margin-right:10%;
	}
	h1 {
		font-size: 16px;
	}
	h5,h2 {
		font-size: 10px;
	}
	h3 {
		font-size: 8px;
		line-height: 48px;	
	}
	h4 {
		font-size: 10px;
		width: 10px;
		word-wrap: break-word;
		line-height:auto;	
	}
	h6 {
		font-size: 12px;
		line-height: 12px;	
	}
	.grille50 {
		width: 100%;
		height:50%;
	}
	.grille25 {
		width: 50%;
		height:100%;
	}
	.project {
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right: 0;
		height:auto;
		margin:2%;	
	}
}

@media(min-width:600px){
	#content1{width: 600px;}
	.blockhide{
		margin-left:10%;
		margin-right:10%;
	}
	h1 {
		font-size: 24px;
	}
	h5,h2 {
		font-size: 12px;
	}
	h3 {
		font-size: 10px;
		line-height: 48px;	
	}
	h4 {
		font-size: 12px;
		width: 12px;
		word-wrap: break-word;
		line-height:auto;	
	}
	h6 {
		font-size: 16px;
		line-height: 16px;	
	}
	.grille50 {
		width: 100%;
		height:50%;
	}
	.project {
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right: 0;
		height:auto;
		margin:2%;	
	}
}

@media(min-width:900px){
	#content1{width: 900px;}
	.blockhide{
		margin-left:10%;
		margin-right:10%;
	}
	h1 {
		font-size: 32px;
	}
	h5,h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 12px;
		line-height: 48px;	
	}
	h4 {
		font-size: 18px;
		width: 18px;
		word-wrap: break-word;
		line-height:auto;	
	}
	h6 {
		font-size: 16px;
		line-height: 25px;	
	}
	.grille50 {
		width: 100%;
		height:50%;
	}
	.project {
		height:100%;	
	}
	.project {
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right: 0;
		height:auto;
		margin:2%;	
	}
}

@media(min-width:1200px){
	#content1{width: 1200px;}
	.blockhide{
		margin-left:15%;
		margin-right:15%;
	}
	h1 {
		font-size: 50px;
	}
	h5,h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 18px;
		line-height: 48px;	
	}
	h4 {
		font-size: 28px;
		width: 28px;
		word-wrap: break-word;
		line-height:auto;	
	}
	h6 {
		font-size: 18px;
		line-height: 25px;	
	}
	.grille50 {
		width: 50%;
		height:100%;
	}
	.project {
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right: 0;
		height:auto;
		margin:2%;	
	}
}

@media(min-width:1500px){
	#content1{width: 1500px;}
	.blockhide{
		margin-left:15%;
		margin-right:15%;
	}
	h1 {
		font-size: 64px;
	}
	h5,h2 {
		font-size: 28px;
		line-height: 48px;
	}
	h3 {
		font-size: 18px;
		line-height: 48px;	
	}
	h4 {
		font-size: 28px;
		width: 28px;
		word-wrap: break-word;
		line-height:auto;	
	}
	h6 {
		font-size: 20px;
		line-height: 40px;	
	}
	.grille50 {
		width: 50%;
		height:100%;
	}
	.project {
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right: 0;
		height:auto;
		margin:2%;	
	}
}

h1 { color: #00FFFF; font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; line-height: 64px; margin: 0 0 0; padding: 20px 30px; text-align: center; text-transform: uppercase; }

h6,h5,h4,h3,h2 { color: #00FFFF; font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; margin: 0 0 0; padding: 0 30px; text-align: center; text-transform: uppercase; }

.img-responsive {
	height: auto;
	width: 100%;
	max-height: 100%;
	object-fit: contain;
	position:relative;
	bottom:0;
}

#content1 {
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	height:100%;		
}

#projects,#about-me,#articles,#content2 {
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	width:100%;
	height:80%;
	border: 1px solid #000000;	
}

/*
Content
*/

#projects,#about-me,#articles {
	display: none;
}

#content-top {
	position:relative;
	width:100%;
	height:35%;
}

#content-bot {
	position:absolute;
	width:100%;
	height:35%;
	bottom:0px;
}

#content-center {
	position:absolute;
	bottom:0;
	top:0;
	margin:auto;
	width:100%;
	height:20%;
}

/*
Big block
*/

.big-block {
	width:30%;
	height:100%;
	position:absolute;
}

/*
Mini block
*/

.back {
	cursor:pointer;
}

.vcenter {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	display: -webkit-inline-box;
  	-webkit-box-pack: center;
  	-webkit-box-align: center;
}

.block {
	cursor: pointer;
	overflow: hidden;
}

.block-main {
	overflow: hidden;
}

.block-side {
	position:absolute;
	width:80%;
	height:80%;
}

.block-center {
	position:absolute;
	width:100%;
	height:100%;	
}

.right {
	right:0;
}

.left {
	left:0;
}

.bottom {
	bottom: 0;
}


.top {
	top: 0;
}

.invisible {
	opacity: 0;
}

.slide-left {
	width: 0%;
}

.center {
	left:0;
	right:0;
	margin:auto;
}

.full {
	width: 100%;
}

.pointer {
	cursor:pointer;
}

.block-color {
	background:#E6E6FA;	
}

.rayon-left {
	position:absolute;
	left:0;
	bottom:0;
	width:1px;
	height:0%;
	background: #00FFFF
}

.rayon-top {
	position:absolute;
	left:0;
	top:0;
	width:0%;
	height:1px;
	background: #00FFFF
}

.rayon-right {
	position:absolute;
	right:0;
	top:0;
	width:1px;
	height:0%;
	background: #00FFFF
}

.rayon-bottom {
	position:absolute;
	bottom:0;
	right:0;
	width:0%;
	height:1px;
	background: #00FFFF
}

.decor {
	position:absolute;
	width:1px;
	height:0%;
	background: #00FFFF;
}